:root{
    --cor-de-fundo:#EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97,54deg, #002F52 35.49%, #326589 165.37%);
    }
    body{
    background-color:var(--cor-de-fundo);
    }
    h1{
    font-size: 100px;
    text-align: center;
    background-color: rgb(199, 93, 167);
    }
    .cabeçalho-menu-hamburguer{
        width: 24px;
        height: 24px;
        background-image:url(./img/Menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;

    }
    .cabeçalho {
        background-color: rgb(245, 168, 106);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
     .container {
        display: flex;
        align-items: center;
     }
     .container-imagem{
        padding: 1em;
        margin: 1em;
        width: 2em;
     }

     ,.container-botão:checked ~ .lista-menu {
        display: block;
     }

     .lista-menu {
        display: inline-block;
        position: absolute;
        top: 100%;
        width: 20vw;
     }

    